<div class="cancel-wrapper" role="alert">
  <div class="cancel-header">
    <svg
      class="cancel-icon"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 9v2m0 4h.01M12 5a7 7 0 100 14 7 7 0 000-14z"
      />
    </svg>
    <strong class="cancel-title">¡Pago cancelado!</strong>
  </div>
  <p class="cancel-message">
    El proceso de pago ha sido cancelado. Si deseas intentarlo de nuevo, por
    favor vuelve al inicio.
  </p>

  <div class="cancel-button-container">
    <a routerLink="/inicio" class="cancel-button"> Volver al inicio </a>
  </div>
</div>
