<div class="footer-container container-xl">

  <div class="row align-items-center justify-content-between">

    <!-- Inicio Política -->
    <div class="col-md-4 text-center">
      <a href="#" class="d-block my-2 footer-link">Política De Privacidad</a>
      <a href="#" class="d-block my-2 footer-link">Política De Cookies</a>
    </div>
    <!-- Fin Política -->

    <!-- Inicio iconos redes sociales -->
    <div class="col-md-4 text-center">
      <div class="social-icons">

        <a href="https://www.facebook.com" class="social-icon">
          <i class="fa-brands fa-facebook"></i>
        </a>

        <a href="https://www.instagram.com" class="social-icon">
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://www.twitter.com" class="social-icon">
          <i class="fa-brands fa-twitter"></i>
        </a>

      </div>
      <!-- Fin iconos redes sociales -->
    </div>

  </div>

</div>
