<div class="container-xl" id="header-container">
  <!-- Inicio Navbar -->
  <nav class="navbar row">
    <div class="row justify-content-between">
      <!-- Inicio parte izquierda del navbar (logo) -->
      <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
        <a routerLink="['/inicio']" class="d-flex justify-content-center">
          <img
            src="img/Logo sin fondo.png"
            alt="Logo"
            class="d-inline-block align-text-top img-fluid"
            id="logo"
          />
        </a>
      </div>
      <!-- Fin parte izquierda del navbar (logo) -->

      <!-- Inicio parte derecha del navbar (enlaces y botones) -->
      <div
        class="col-12 col-md-5 d-flex align-items-center ms-auto"
        id="navbar-right"
      >
        <a
          [routerLink]="['/inicio']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navbar-link"
        >
          Inicio
        </a>

        <a
          [routerLink]="['/inicio/actividades']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navbar-link"
        >
          Actividades
        </a>

        <a
          [routerLink]="['/sobre-nosotros']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navbar-link"
        >
          Sobre nosotros
        </a>

        <a
          [routerLink]="['/login']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="login-button"
          *ngIf="!this.storageService.isLoggedIn()"
        >
          Iniciar Sesión
        </a>

        <div
          *ngIf="this.storageService.isLoggedIn()"
          class="user-dropdown dropdown"
        >
          <button
            class="btn user-button dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ usuario?.nombre }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li *ngIf="usuario?.roles?.includes('USER')">
              <a class="dropdown-item" [routerLink]="['/perfil']">Perfil</a>
            </li>
            <li *ngIf="usuario?.roles?.includes('USER')">
              <a class="dropdown-item" [routerLink]="['/mis-actividades']"
                >Mis Viajes</a
              >
            </li>
            <li *ngIf="usuario?.roles?.includes('ADMIN')">
              <a class="dropdown-item" [routerLink]="['/administrar']"
                >Administrar</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="storageService.logout()"
                href="#"
                >Cerrar Sesión</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- Fin parte derecha del navbar (enlaces y botones) -->
    </div>
  </nav>
  <!-- Fin Navbar -->
</div>
