<div class="container-xl" id="header-container">
  <!-- Inicio Navbar -->
  <nav class="navbar row">
    <div class="row justify-content-between">
      <!-- Inicio parte izquierda del navbar (logo) -->
      <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
        <a routerLink="['/inicio']" class="d-flex justify-content-center">
          <img
            src="img/Logo sin fondo.png"
            alt="Logo"
            class="d-inline-block align-text-top img-fluid"
            id="logo"
          />
        </a>
      </div>
      <!-- Fin parte izquierda del navbar (logo) -->

      <!-- Inicio parte derecha del navbar (enlaces y botones) -->
      <div
        class="col-12 col-md-5 d-flex align-items-center ms-auto"
        id="navbar-right"
      >
        <a
          [routerLink]="['/inicio']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navbar-link"
        >
          Inicio
        </a>

        <a
          [routerLink]="['/inicio/actividades']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navbar-link"
        >
          Actividades
        </a>

        <a
          [routerLink]="['/sobre-nosotros']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navbar-link"
        >
          Sobre nosotros
        </a>

        <a
          [routerLink]="['/login']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="login-button"
        >
          Iniciar Sesión
        </a>

        <i class="fas fa-cart-shopping" id="cart-icon"></i>
      </div>
      <!-- Fin parte derecha del navbar (enlaces y botones) -->
    </div>
  </nav>
  <!-- Fin Navbar -->
</div>
